In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import sklearn

from scipy.stats import pearsonr, spearmanr

import os

from env import user, host, password
#from wrangle import get_connection, new_zillow_data, get_zillow_data, remove_outliers
import wrangle

# 1 <br>
Make sure to perform a train, validate, test split before and use only your train dataset to explore the relationships between independent variables with other independent variables or independent variables with your target variable.

In [2]:
# Acquire the data
df = wrangle.wrangle_zillow()
df.head()

    bedrooms  bathrooms  area_sqft  tax_value year_built  tax_amount    fips
4        4.0        2.0     3633.0   296425.0     2005.0     6941.39  6037.0
6        3.0        4.0     1620.0   847770.0     2011.0    10244.94  6037.0
7        3.0        2.0     2077.0   646760.0     1926.0     7924.68  6037.0
18       3.0        1.0     1244.0   169471.0     1950.0     2532.88  6037.0
19       3.0        2.0     1300.0   233266.0     1950.0     3110.99  6037.0

In [ ]:
# Increase the size of the figure to prevent overlapping
plt.figure(figsize=(12, 3))

# Create loop that will make all the histograms
cols = [col for col in df.columns]
for i, col in enumerate(cols):
    
    # i starts at 0, and counts each loop
    plot_number = i + 1
    
    # Create subplots
    plt.subplot(1, len(cols), plot_number) # <- row, columns, index
    
    # Create titles for subplots
    plt.title(col)
    
    #Create histograms for the subplots
    df[col].hist(bins=5)
    
    # Hide the grid in the subplots
    plt.grid(False)

In [ ]:
# Increase the size of the figure to prevent overlapping
plt.figure(figsize=(12, 3))

# Create loop that will make all the histograms
cols = [col for col in df.columns]
for i, col in enumerate(cols):
    
    # i starts at 0, and counts each loop
    plot_number = i + 1
    
    # Create subplots
    plt.subplot(1, len(cols), plot_number) # <- row, columns, index
    
    # Create titles for subplots
    plt.title(col)
    
    #Create histograms for the subplots
    sns.boxplot(data = df[[col]])
    
    # Hide the grid in the subplots
    plt.grid(False)

In [3]:
# Split the data
train, validate, test = wrangle.wrangle_split(df)
train.shape, validate.shape, test.shape

((1459448, 7), (625478, 7), (416986, 7))

In [4]:
train.head()

,bedrooms,bathrooms,area_sqft,tax_value,year_built,tax_amount,fips
1979346,4.0,2.5,2068.0,492072.0,1989.0,5812.96,6059.0
1948908,4.0,2.5,1950.0,142946.0,1977.0,1605.92,6111.0
1606731,4.0,2.0,1713.0,290100.0,1994.0,4225.23,6037.0
1408008,3.0,1.5,1458.0,456000.0,1955.0,5285.24,6059.0
292925,2.0,2.0,971.0,202309.0,1984.0,2932.34,6037.0

In [5]:
train_scaled, validate_scaled, test_scaled = wrangle.scale_zillow(train, validate, test)
train_scaled.shape, validate_scaled.shape, test_scaled.shape

((1459448, 7), (625478, 7), (416986, 7))

In [6]:
train_scaled.head()

   bedrooms  bathrooms  area_sqft  tax_value  year_built  tax_amount      fips
0  0.666667      0.125   0.002170   0.006924    0.874419    0.007033  0.297297
1  0.666667      0.125   0.002046   0.002011    0.818605    0.001929  1.000000
2  0.666667      0.100   0.001797   0.004082    0.897674    0.005107  0.000000
3  0.333333      0.075   0.001530   0.006416    0.716279    0.006393  0.297297
4  0.000000      0.100   0.001018   0.002847    0.851163    0.003538  0.000000

In [ ]:
col_list = ['bedrooms', 'bathrooms', 'area_sqft', 'tax_value', 'tax_amount']
sns.pairplot(train_scaled[col_list])
plt.show()

In [ ]:
plt.figure(figsize=(8,6))
# The mask argument calls an np heatmap to extract a lower triangle from
sns.heatmap(train_scaled, cmap='Blues', annot=True, linewidth=0.5)

plt.show()